{% extends 'base.html.twig' %}

{% block title %}New ItemToDo{% endblock %}

{% block body %}
    <h1>Create new ItemToDo</h1>

    {{ include('item_to_do/_form.html.twig') }}

    <a href="{{ path('item_to_do_index') }}">back to list</a>
{% endblock %}
